{% include "partials/_head.html" %}
{% include "partials/_header.html" %}
<main class="content">
  <h2>Cadastro</h2>
  <div class="form_warper">
    <form action="" method="POST" enctype="multipart/form_data">
      <div class="form_content">
        <div class="form_group">
          <label for="id_first_name">LABEK</label>
          <input type="text" name="first_name" maxlenght="255">
        </div>
      </div>
      <div class="form_content">
        <div class="form_group">
          <button class="btn">
            Enviar
          </button> 
        </div>
      </div>
    </form>
  </div>
</main>
