{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include "partials/_head.html" %}
  </head>
  <body>
    
  {% include "partials/_header.html" %}

    <main class="content">
      {% if page_obj %}
      <div class="responsive_table">
        <table class="contacts_table">
          <caption class="table_caption">
            Contatos
          </caption>
          <thead>
            <tr class="table_row table_row_reader">
              <th class="table_reader">ID</th>
              <th class="table_reader">First Name</th>
              <th class="table_reader">Last Name</th>
              <th class="table_reader">Phone</th>
              <th class="table_reader">Email</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in page_obj %}
            <tr class="table_row">
              <td class="table_cel">
                <a href="{% url "contact:contact" contact.id %}" class="table_link"> {{ contact.id }} </a>
              </td>
              <td class="table_cel">{{ contact.first_name }}</td>
              <td class="table_cel">{{ contact.last_name }}</td>
              <td class="table_cel">{{ contact.phone }}</td>
              <td class="table_cel">{{ contact.email }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}<h1 class="single_contact_name">
          Nenhum contato encontrado
        </h1>
      </div>
      {% endif %}
    </main> 
    {% include "partials/_pagination.html" %}
  </body>
</html>
