<header class="header">
      <h1 class="header_heading">
        <a href="{% url "contact:index" %}" class="header_link">
          Agenda
        </a>
      </h1>
      <nav class="nav_menu">
        <ul class="menu_list">
          <li class="menu_item">
            <a href="" class="menu_link">1</a>
          </li>
          <li class="menu_item">
            <a href="" class="menu_link">2</a>
          </li>
        </ul>
      </nav>
      <div class="search">
        <form action="" method="get">
          <input type="text" class="search_input" placeholder="Busque" id="search" name="q">
        </form>
      </div>
    </header>